/* * {
    padding: 5px;
    margin: 5px;
    font-size: 30px;
} */

body{
    /*background-color: #ff0000;*/
}
.padre{
    background-color: #fbff00;
    /* padding: 5px; */
    display: grid;
    /* gap: 5px; */
    grid-template-columns: 1fr 2fr 1fr;
    /*grid-template-columns: auto auto auto;*/
    /*grid-template-rows: 1fr 2fr 1fr;*/
    grid-template-rows: auto auto auto;
    /*grid-template-areas: 
    "c1 c1 c1 c1"
    "c2 c3 c3 c4"
    "c5 c5 c5 c5";*/
    grid-template-areas: 
    "c1 c1 c1"
    "c2 c3 c4"
    "c5 c5 c5";
    /*row-gap: 10px;*/
}
.caja1{
    background-color: #008cff;
    grid-area: c1;   
    padding-right: 10px; 
}
.caja2{
    background-color: #8d8b05;
    grid-area: c2;
}
.caja3{
    padding: 0px;
    margin: 0px;
    background-color: #00ff15;
    
}

.caja4{
    background-color: #8c00ff;
    grid-area: c4;
}
.caja5{
    background-color: #fdfafd;
    grid-area: c5;
    color: #000;
}
